:root {
  font-family:
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    'PingFang SC',
    sans-serif;
  color: #f8f8f2;
  background-color: #1e1e1e;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #121212;
}

#app {
  min-height: 100vh;
}
